
body {
    font-family: Arial, Verdana, sans-serif;
    background-color: black;
    color: white;
    margin-top: 20px;
    margin-left: 20 px;
    margin-right: 20 px; 
}
h1 {
    font-size: 42px;
    text-align: center;
    padding: 15px;
}
h2 {
    color: #0D0D0D;
    font-size: 30px;
}
p {
    font-size: 24px;
    padding-left: 10px;
    padding-top: 10px;
}
img {
    width: 250px;
    border: 10px dashed white;
    margin: auto;
    display: block;
}
/*How do i make this centered*/
div {
    /*how to make height AT LEAST 125*/
    padding: 20px;
    border: 3px solid white;
}
/*This is where they lose me slightly (step 10)*/
.red {
    background-color: red;
    text-align: right;
    margin-left: 50px;
    border-width: 0px 0px 2px 5px;
    border-bottom: 2px solid white;
    border-left: 5px solid white;
}
.blue {
    background-color: blue;
    text-align: left;
    margin-right: 50px;
    border-width: 2px 5px 0px 0px;
    border-right: 5px solid white;
    border-top: 2px solid white;
}
.yellow {
    background-color: yellow;
    text-align: right;
    margin-left: 50px;
    border-width: 0px 0px 2px 5px;
    border-bottom: 2px solid white;
    border-left: 5px solid white;
    color: #707070;
}
/*Wave page because the yellow color contrast is bad*/
.green {
    background-color: #00EB00;
    text-align: left;
    margin-right: 50px;
    border-width: 2px 5px 0px 0px;
    border-right: 5px solid white;
    border-top: 2px solid white;
}
footer {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 25%, rgba(0,212,255,1) 70%, rgba(2,0,36,1) 100%);
}
/*how*/